.inventory {
  width: 19rem;
  margin: 0px auto;
  text-align: center;
  min-height: 522px;
  position: relative;
}

.inventory p {
  margin-bottom: 4px;
  color: rgb(131, 131, 131);
}

.inventoryHeader {
  font-size: 24px;
}

.stockUpdateBtn {
  width: 19rem;
  border: 0;
  height: 38px;
  background-color: rgba(199, 8, 27, 1);
  color: rgba(238, 238, 238, 0.932);
  font-weight: 500;
  display: block;
  position: absolute;
  bottom: 0;
}

.stockUpdateBtn:hover {
  background-color: rgb(184, 1, 19);
}

.inventoryInfoContainer {
  width: max-content;
  margin: 20px auto;
}

.infoPairs {
  justify-content: space-between;
}
