.reports .icon {
  font-size: 38px;
}

.reports {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgba(255, 255, 255, 0.849);
  padding-top: 30px;
  padding-bottom: 20px;
}

.number {
  font-size: 35px;
}

.reputationBg {
  background-image: url("https://i.ibb.co/HnmCk93/reputationbg.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.reports p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 576px) {
  .reports {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
