.bannerImage {
  background-image: url("https://i.ibb.co/V27KmPT/BG-MAIN-SUPER.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannerContent {
  position: absolute;
  top: 68%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
}

.bannerText1 {
  font-size: 70px;
  margin: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-ser;
}
.bannerText2 {
  font-weight: 300;
  font-size: 70px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
  color: rgb(199, 8, 27);
}

.bannerHeader {
  font-size: 45px;
}

/* Break Point for Banner */
@media only screen and (max-width: 576px) {
  .bannerImage {
    height: 250px;
  }
  .bannerText1 {
    font-size: 22px;
  }
  .bannerText2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
  }
  .bannerContent {
    top: 70%;
    left: 30%;
  }
}
