.bannerImage {
  background-image: url("https://i.ibb.co/V9kyXWy/BANNER-6.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .bannerContent {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
} */

.bannerHeader {
  font-size: 45px;
}

/* Break Point for Banner */
@media only screen and (max-width: 576px) {
  .bannerImage {
    height: 250px;
  }
}
